@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-1 offset-md-2">
        <video id="my-video"
               window.HELP_IMPROVE_VIDEOJS=false;
               class="video-js"
               controls
               preload="auto"
               width="640"
               height="264"
               poster="MY_VIDEO_POSTER.jpg"
               data-setup="{}">
            <source src="~/UploadedVideos/2020_09_12-12-58-55file_example_AVI_1920_2_3MG.mp4" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Me Too!</h3>
        </div>
    </div>
